<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) 2015-2017 Beigesoft ™
 
 Licensed under the GNU General Public License (GPL), Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
  http://www.gnu.org/licenses/old-licenses/gpl-2.0.en.html
 -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">
  <display-name>Beige Accounting</display-name>
  <jsp-property-group>
    <trim-directive-whitespaces>true</trim-directive-whitespaces>
  </jsp-property-group>
  <context-param>
    <param-name>webAppFor</param-name>
    <param-value>Standard</param-value>
  </context-param>
  <listener>
    <listener-class>org.beigesoft.web.listener.WebContextCleaner</listener-class>
  </listener>
  <servlet>
    <servlet-name>servicePublic</servlet-name>
    <servlet-class>
      org.beigesoft.web.servlet.WServicePublic
    </servlet-class>
    <load-on-startup>1</load-on-startup>
    <init-param>
      <param-name>factoryAppBeansClass</param-name>
      <param-value>org.beigesoft.web.factory.FactoryAppBeansMysql</param-value>
    </init-param>
    <init-param>
      <param-name>initFactoryClass</param-name>
      <param-value>org.beigesoft.accounting.factory.InitAppFactory</param-value>
    </init-param>
    <init-param>
      <param-name>databaseName</param-name>
      <param-value>jdbc:mysql://localhost/beigeaccounting</param-value>
    </init-param>
    <init-param>
      <param-name>databaseUser</param-name>
      <param-value>beigeaccounting</param-value>
    </init-param>
    <init-param>
      <param-name>databasePassword</param-name>
      <param-value>beigeaccounting</param-value>
    </init-param>
    <init-param>
      <param-name>isShowDebugMessages</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>newDatabaseId</param-name>
      <param-value>1</param-value>
    </init-param>
    <init-param>
      <param-name>ormSettingsDir</param-name>
      <param-value>beige-orm</param-value>
    </init-param>
    <init-param>
      <param-name>ormSettingsBaseFile</param-name>
      <param-value>persistence-mysql.xml</param-value>
    </init-param>
    <init-param>
      <param-name>uvdSettingsDir</param-name>
      <param-value>beige-uvd</param-value>
    </init-param>
    <init-param>
      <param-name>uvdSettingsBaseFile</param-name>
      <param-value>base.xml</param-value>
    </init-param>
    <init-param>
      <param-name>dirJsp</param-name>
      <param-value>/WEB-INF/jsp/</param-value>
    </init-param>
    <multipart-config>
      <max-file-size>10000</max-file-size>
      <max-request-size>10000</max-request-size>
      <file-size-threshold>10000</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>servicePublic</servlet-name>
    <url-pattern>/servicePublic/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reportPdf</servlet-name>
    <servlet-class>
      org.beigesoft.web.servlet.WReportPdf
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reportPdf</servlet-name>
    <url-pattern>/secure/reportPdf/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>service</servlet-name>
    <servlet-class>
      org.beigesoft.web.servlet.WService
    </servlet-class>
    <init-param>
      <param-name>dirJsp</param-name>
      <param-value>/WEB-INF/jsp/</param-value>
    </init-param>
    <multipart-config>
      <max-file-size>10000</max-file-size>
      <max-request-size>10000</max-request-size>
      <file-size-threshold>10000</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>service</servlet-name>
    <url-pattern>/secure/service/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadSingle</servlet-name>
    <servlet-class>
      org.beigesoft.web.servlet.WUploadSingle
    </servlet-class>
    <init-param>
      <param-name>dirJsp</param-name>
      <param-value>/WEB-INF/jsp/</param-value>
    </init-param>
    <multipart-config>
      <max-file-size>10485760</max-file-size>
      <max-request-size>20971520</max-request-size>
      <file-size-threshold>5242880</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadSingle</servlet-name>
    <url-pattern>/secure/uploadSingle/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendEntities</servlet-name>
    <servlet-class>
      org.beigesoft.web.servlet.WSendEntities
    </servlet-class>
    <init-param>
      <param-name>contentType</param-name>
      <param-value>text/xml;</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendEntities</servlet-name>
    <url-pattern>/secure/sendEntities/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>replicator</servlet-name>
    <servlet-class>
      org.beigesoft.web.servlet.WReplicator
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>replicator</servlet-name>
    <url-pattern>/secure/replicator/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>report</servlet-name>
    <servlet-class>
      org.beigesoft.web.servlet.WReport
    </servlet-class>
    <init-param>
      <param-name>dirJsp</param-name>
      <param-value>/WEB-INF/jsp/</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>report</servlet-name>
    <url-pattern>/secure/report/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>balance</servlet-name>
    <servlet-class>
      org.beigesoft.accounting.servlet.WBalance
    </servlet-class>
    <init-param>
      <param-name>dirJsp</param-name>
      <param-value>/WEB-INF/jsp/</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>balance</servlet-name>
    <url-pattern>/secure/balance/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ledger</servlet-name>
    <servlet-class>
      org.beigesoft.accounting.servlet.WLedger
    </servlet-class>
    <init-param>
      <param-name>dirJsp</param-name>
      <param-value>/WEB-INF/jsp/</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ledger</servlet-name>
    <url-pattern>/secure/ledger/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chartOfAccounts</servlet-name>
    <servlet-class>
      org.beigesoft.accounting.servlet.WChartOfAccounts
    </servlet-class>
    <init-param>
      <param-name>dirJsp</param-name>
      <param-value>/WEB-INF/jsp/</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>chartOfAccounts</servlet-name>
    <url-pattern>/secure/chartOfAccounts/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>warehouseRests</servlet-name>
    <servlet-class>
      org.beigesoft.accounting.servlet.WWarehouseRests
    </servlet-class>
    <init-param>
      <param-name>dirJsp</param-name>
      <param-value>/WEB-INF/jsp/</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>warehouseRests</servlet-name>
    <url-pattern>/secure/warehouseRests/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>warehouseSiteRests</servlet-name>
    <servlet-class>
      org.beigesoft.accounting.servlet.WWarehouseSiteRests
    </servlet-class>
    <init-param>
      <param-name>dirJsp</param-name>
      <param-value>/WEB-INF/jsp/</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>warehouseSiteRests</servlet-name>
    <url-pattern>/secure/warehouseSiteRests/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mngSoftware</servlet-name>
    <servlet-class>
      org.beigesoft.web.servlet.WMngSoftware
    </servlet-class>
    <init-param>
      <param-name>dirJsp</param-name>
      <param-value>/WEB-INF/jsp/</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>mngSoftware</servlet-name>
    <url-pattern>/mngSoftware/*</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>JDBCRealm</realm-name>
    <form-login-config>
      <form-login-page>/secure/login.jsp</form-login-page>
      <form-error-page>/secure/loginError.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>admin</role-name>
  </security-role>
  <security-role>
    <role-name>user</role-name>
  </security-role>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/secure/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name>
      <url-pattern>/mngSoftware/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <error-page>
    <error-code>500</error-code>
    <location>/error.jsp</location>
  </error-page>
</web-app>
